.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.techIcon {
  font-size: 4rem;
  margin: 15px;
  padding: 2rem 4rem;
  opacity: 0.93;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  position: relative;
  will-change: transform;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1.7px solid #6b6b6b51;
  // box-shadow: 0 0 0 3px rgba(89, 4, 168, 0.137);
  outline-color: transparent;
  transition: .2s;
  background: rgba(255, 255, 255, 0.067);
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  min-width: 100px; 
  min-height: 100px;


  &:hover {
    transform: scale(1.05);
    border-color: rgba(115, 205, 230, 0.883);
    box-shadow: 0 0 0 1px #11b9ecc5;
  }
}